<ul class="availability availability-comparative">
  {{#each @data as |item|}}
    <li class={{if item.value "yes" "no"}} data-content={{if item.value "Yes" "No"}}>&nbsp;</li>
  {{/each}}
</ul>

<style>
  ul.availability, ul.data-table-key {
    margin-bottom: 0;
    padding-left: 0;
    cursor: pointer;
  }
  .availability-comparative {
    display: table;
    width: 100%;
  }
  .availability li.yes {
    background-color: #7AB800;
  }
  .availability li.no {
    background-color: #ff0000;
  }
  .availability-comparative li {
    display: table-cell;
    line-height: 24px;
    padding-left: 0;
    padding-right: 0;
  }
  .availability > li {
    display: inline-block;
    width: 16px;
    background-color: #CCC;
    color: white;
    line-height: 16px;
    padding-left: 5px;
    padding-right: 10px;
    text-align: center;
  }
</style>